<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Maurihealth Disease Analytics</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <!-- https://fonts.google.com/specimen/Roboto -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/fontawesome.min.css')}}">
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/templatemo-style.css')}}">

    <!--custom css file-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/custom_file.css')}}">

    <script src="{{url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <!--
    Product Admin CSS Template
    https://templatemo.com/tm-524-product-admin
    -->
    <script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.21.7.js"></script>


    <script type="text/javascript" src="https://pubnub.github.io/eon/v/eon/1.1.0/eon.js"></script>
    <link type="text/css" rel="stylesheet" href="https://pubnub.github.io/eon/v/eon/1.1.0/eon.css"/>
    

</head>

<body id="reportsPage">
    <div class="" id="home">
        <nav class="navbar navbar-expand-xl">
            <div class="container h-100">
        <div id="animateLogo" class="navbar-brand" style="width: 13%; height: 13%px;">
            <img src="{{url_for('static', filename='img/4.png')}}" width="75%" height="75%" />
            <img src="{{url_for('static', filename='img/3.png')}}" width="75%" height="75%"/>
            <img src="{{url_for('static', filename='img/2.png')}}" width="75%" height="75%"/>
            <img src="{{url_for('static', filename='img/1.png')}}"  width="75%" height="75%"/>
        </div>
        <div class="navbar-brand" style="width: 20%; height: 20%px;">
            <img src="{{url_for('static',filename='img/iconText2.png')}}"  style="float: left; padding: 2px;" width="100%" height="100%" /> 
        </div>

                <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars tm-nav-icon"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto h-100">
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('home')}}">
                                <i class="fas fa-home"></i>
                                Home
                                
                            </a>
                        </li>
                        <li class="nav-item dropdown">

                            <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-chart-line"></i>
                                <span>
                                    Disease analytics <i class="fas fa-angle-down"></i>
                                </span>
                                <span class="sr-only">(current)</span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{url_for('detect')}}">
                                <i class="fas fa-stethoscope"></i> Disease Detection</a>
                                <a class="dropdown-item" href="{{url_for('predict')}}">
                                <i class="fas fa-heartbeat"></i> Disease Prediction</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('map_realtime')}}">
                                <i class="fas fa-map-marked-alt"></i>
                                Live map
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('search')}}">
                                <i class="fas fa-search"></i>
                                Search
                            </a>
                        </li>
                        <!--- LANGUAGE SETTINGS ---->
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                               <!--<i class="fas fa-cog"></i>  -->
                                <span id='MicrosoftTranslatorWidget' class='Dark' style='color:white;background-color:#555555'>
                                    <!--<i class="fas fa-angle-down"></i>-->
                                </span>
                            </a>

                        </li>
                        <!--
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="{{url_for('search')}}" id="navbarDropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-cog"></i>
                                <span>
                                    Settings <i class="fas fa-angle-down"></i>
                                </span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Profile</a>
                                <a class="dropdown-item" href="#">Billing</a>
                                <a class="dropdown-item" href="#">Customize</a>
                            </div>
                        </li>-->
                    </ul>
                    
                </div>
            </div>
        </div>

        </nav>
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="mt-5 mb-5" style="text-align: center; font-size: 20px; color: #f5a623;">Disease Detection
                        <br>
                        <i>For Mauritius</i></p>
                </div>
            </div>
            <div class = "row" style="padding: 20px;">
                <div class="col" style="border-style: solid; border-width: 2px; border-color: #f5a623; padding: 20px;">
                    
                        <h2 class="text-white"> <i class="fas fa-chart-area"></i> Detection Graph Information </h2>
                    <p class="text-white"> 
                    The graphs below show the number of people who have been infected over time.
                    An alarm is raised when a disease outbreak is detected. 
                    </p>
                    
                </div>
            </div>
            <!-- row -->
            <div class="row tm-content-row">
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block" style="max-height: 700px;">
                        <h2 class="tm-block-title">Influenza</h2>
                        <div id="lineChart">
                            <img src="data:image/png;base64,{{flu}}" alt="" width="450" height="350">

                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block" style="max-height: 700px;">
                        <h2 class="tm-block-title">Gastroenteritis</h2>
                        <div id="barChart">
                            <img src="data:image/png;base64,{{gastro}}" alt="" width="450" height="350">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block " style="max-height: 700px;">
                        <h2 class="tm-block-title">Conjunctivitis</h2>
                        <div id="pieChartContainer">
                            <div id="pieChart" class="chartjs-render-monitor" width="200" height="200">
                                <img src="data:image/png;base64,{{conj}}" alt="" width="450" height="350">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block " style="max-height: 700px;">
                        <h2 class="tm-block-title">Respiratory Infection</h2>
                            <div id="pieChart1" class="chartjs-render-monitor" width="200" height="200">
                               <!-- <img src="{{url_for('static', filename='img/respiratoryinfection.png')}}" width="100%" height="100%" />-->
                                <img src="data:image/png;base64,{{resp}}" alt="" width="450" height="350">
                            </div>

                    </div>
                </div>
            </div>
        </div>
        <footer class="tm-footer row tm-mt-small">
            <div class="col-12 font-weight-light">
                <p class="text-center text-white mb-0 px-4 small">
                    Copyright &copy; <b>2019</b> All rights reserved.

                    <!--Design: <a rel="nofollow noopener" href="https://templatemo.com" class="tm-footer-link">Template Mo</a>-->
                </p>
            </div>
        </footer>
    </div>

    <script src="{{url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
    <!-- https://jquery.com/download/ -->
    <script src="{{url_for('static', filename='js/moment.min.js')}}"></script>
    <!-- https://momentjs.com/ -->
    <script src="{{url_for('static', filename='js/Chart.min.js')}}"></script>
    <!-- http://www.chartjs.org/docs/latest/ -->
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <!-- https://getbootstrap.com/ -->
    <script src="{{url_for('static', filename='js/tooplate-scripts.js')}}"></script>
    <script src="{{url_for('static', filename='js/logo_animate.js')}}"></script>
    <script src="{{url_for('static', filename='js/translate.js')}}"></script>
</body>

</html>
